{
  "base": {
    "acme_challenge": "_acme-challenge",
    "certbot_email": "your_email"
  },
  "api": {
    "aliyun": {
      "access_key_id": "your_access_key_id",
      "access_key_secret": "your_access_key_secret"
    }
  },
  "log": {
    "enable": true,
    "logfile": "./log/application.log"
  }
}