{
  "base": {
    "email": "your_email"
  },
  "api": {
    "aliyun": {
      "access_key_id": "your_access_key_id",
      "access_key_secret": "your_access_key_secret"
    }
  },
  "log": {
    "enable": false,
    "logfile": "./log/application.log"
  },
  "deploy": {
    "remotes": [
      {
        "enable": false,
        "host": "192.168.1.1",
        "port": 22,
        "user": "root",
        "password": "",
        "deploy_to": "/etc/letsencrypt/live",
        "restart_nginx": false
      }
    ]
  }
}